{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.component.html",
      "options": { "parser": "angular" }
    }
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": [
    "^node:",
    "^@angular/(.*)$",
    "^rxjs($|/)",
    "^@taiga-ui/(.*)$",
    "^@lifestyle-dashboard/(.*)$",
    "^libs/(.*)$",
    "^apps/(.*)$",
    "^shared/(.*)$",
    "^[./]"
  ]
}
