<form [formGroup]="loginForm" class="form" (keydown.enter)="login()">
  <div>
    <tui-textfield>
      <label for="email-input" tuiLabel>Type an email</label>
      <input
        id="email-input"
        placeholder="Your email"
        tuiTextfield
        [formControlName]="LoginField.Email"
        tuiTextfieldSize="l"
        [tuiTextfieldCleaner]="true"
        type="email"
      />
    </tui-textfield>
    <tui-error
      [formControlName]="LoginField.Email"
      [error]="[] | tuiFieldError | async"
    />
  </div>

  <div>
    <tui-textfield>
      <label for="password-input" tuiLabel>Type a password</label>
      <input
        id="password-input"
        placeholder="7+ characters"
        tuiTextfield
        [formControlName]="LoginField.Password"
        tuiTextfieldSize="l"
        [tuiTextfieldCleaner]="true"
        type="password"
      />
    </tui-textfield>
    <tui-error
      [formControlName]="LoginField.Password"
      [error]="[] | tuiFieldError | async"
    />
  </div>

  <button
    class="button"
    size="l"
    tuiButton
    type="submit"
    [disabled]="loginForm.invalid || shouldShowLoading()"
    [loading]="shouldShowLoading()"
    (click)="login()"
  >
    Log in
  </button>
</form>
