:host {
  display: flex;
  height: 100vh;
}

.tabs {
  flex-grow: 2;
}

tui-tabs.tabs::ng-deep {
  flex-direction: column;
  a {
    padding: 1.5rem 1rem;
  }
}

.container {
  flex-grow: 80;

  border: 0.5px solid var(--tui-border-normal);
}
