@import '@taiga-ui/core/styles/taiga-ui-local.less';

:root {
  --lifestyle-color: var(--tui-chart-categorical-15);
  --lifestyle-color-hover: var(--tui-chart-categorical-16);
  --tui-background-accent-1: var(--lifestyle-color);
  --tui-background-accent-1-hover: var(--lifestyle-color-hover);
}
