@let shouldShowLoading = $shouldShowLoading();
@let shouldShowConflictError = $shouldShowConflictError();

<form [formGroup]="signUpForm" class="form" (keydown.enter)="signUp()">
  @if (shouldShowConflictError) {
    <tui-notification appearance="negative" size="l">
      User with this email already exists
    </tui-notification>
  }
  <div>
    <tui-textfield>
      <label for="email-input" tuiLabel>Type an email</label>
      <input
        id="email-input"
        placeholder="Your email"
        tuiTextfield
        [formControlName]="SignUpField.Email"
        tuiTextfieldSize="l"
        [tuiTextfieldCleaner]="true"
        type="email"
      />
    </tui-textfield>
    <tui-error
      [formControlName]="SignUpField.Email"
      [error]="[] | tuiFieldError | async"
    />
  </div>

  <div>
    <tui-textfield>
      <label for="password-input" tuiLabel>Type a password</label>
      <input
        id="password-input"
        placeholder="7+ characters"
        tuiTextfield
        [formControlName]="SignUpField.Password"
        tuiTextfieldSize="l"
        [tuiTextfieldCleaner]="true"
        type="password"
        autocomplete="new-password"
      />
    </tui-textfield>
    <tui-error
      [formControlName]="SignUpField.Password"
      [error]="[] | tuiFieldError | async"
    />
  </div>

  <div>
    <tui-textfield>
      <label for="repeat-password-input" tuiLabel>Repeat a password</label>
      <input
        id="repeat-password-input"
        placeholder="same 7+ characters"
        tuiTextfield
        [formControlName]="SignUpField.RepeatPassword"
        tuiTextfieldSize="l"
        [tuiTextfieldCleaner]="true"
        type="password"
        autocomplete="new-password"
      />
    </tui-textfield>
    <tui-error
      [formControlName]="SignUpField.RepeatPassword"
      [error]="[] | tuiFieldError | async"
    />
  </div>

  <button
    class="button"
    size="l"
    tuiButton
    type="submit"
    [disabled]="signUpForm.invalid || shouldShowLoading"
    [loading]="shouldShowLoading"
    (click)="signUp()"
  >
    Sign up
  </button>
</form>
